<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DoTween" version="1.0.0" targetFramework="net471" />
  <package id="DoTween_Unity" version="1.0.0" targetFramework="net471" />
  <package id="DoTween_Unity_Editor" version="1.0.0" targetFramework="net471" />
  <package id="DoTweenModules_Unity" version="1.0.0" targetFramework="net471" />
</packages>